<!DOCTYPE html>
<html>
	<head>
		<title>About Me</title>
		<style type="text/css" media="screen">
		h1 {
			font-size: 20px;
			border-bottom: 1px solid #cccccc;
		}

		p {
			padding: 10px;
			
		}
		.special {
			
		}
		#user-name {
			font-weight: bold;
		}

		</style>
	</head>
	<body>
		<h1>Hello <em>World</em>!</h1>

		<p class="special">My name is <span id="user-name">Adrianne</span>.</p>

		<p>I have been designing websites for 7 years and customizing WordPress themes for 4 years.  Now I'm learning how to create responsive designs and to make my own web applications using Ruby on Rails.</p>
		<p>Come join me as I learn how to code!</p>  
	</body>
		
</html>
<p>Find me on <a href="http://itsadriannem.tumblr.com">Tumblr</a></p>
